<h1>{{title}}</h1>
<h2>{{message}}</h2>
<img src="./images/Frame2.png" alt="Logo">
<li class="nav-item active">
    <a class="nav-link" href="/explore">Explore <span class="sr-only">(current)</span></a>
</li>