* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  /*  
  font-family: "Britanica-Black";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Black.woff");
  font-family: "Britanica-Bold";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Bold.woff");
  font-family: "Britanica-ExtraBold";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-ExtraBold.woff");
  font-family: "Britanica-Heavy";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Heavy.woff");
  font-family: "Britanica-Light";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Light.woff");
  font-family: "Britanica-Thin";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Thin.woff"); */
  font-family: "Britanica-Regular";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Regular.woff");
}

body {
  padding: 20px;
  font: 14px "Britanica-Regular", "Indie Flower", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
  color: #00b7ff;
  font-size: 25px;
}

.navbar {
  margin-bottom: 40px;
  padding: 10px 20px;
}

.logo-nav {
  padding: 5px;
}

.btn-login {
  margin-right: 20px;
}

button.close {
  padding: 8px 12px !important;
}

.error {
  margin-top: 20px;
}

/*SIGNUP*/

.footer {
  text-align: center;
  background-color: #f7f7f7;
  width: 100%;
  height: 50%;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

#explore-link {
  padding-top: 50;
  text-align: center;
  font-size: 30;
}
